<div ng-controller="InstagramCtrl">
	<div class="row" infinite-scroll='loadMore()' infinite-scroll-distance='1'>
		<div class="col-sm-6 col-md-6" ng-repeat='p in pics'>
		    <div ng-click="goToInstagram(p)" class="thumbnail">
		    	<img ng-src='{{p.images.low_resolution.url}}'></img>
		    </div>
		</div>
	</div>
	<div id="loading" style="width:100%;z-index:-5000;" ng-show="instagramBusy">
		<img ng-src='img/ajax-loader.gif' class="img-responsive" style="margin: 0 auto;" alt="loading">
	</div>
</div>