<div class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="navbar-header pull-left">
      <a class="navbar-brand" href="#/">Project Name</a>
    </div>
    <div class="navbar-header pull-right">
        <div class="btn-group">
          <button type="button" class="btn btn-success navbar-btn dropdown-toggle" data-toggle="dropdown" style="margin-right:10px;">
            Sign In <span class="caret"></span>
          </button>
          <ul class="dropdown-menu ul-sign-in" role="menu">
            <li class="h40">
              <button class="btn btn-facebook">
                <i class="fa fa-facebook"></i> | Sign In with Facebook
              </button>
            </li>
            <li class="h40">
              <button class="btn btn-google-plus">
                <i class="fa fa-google-plus"></i> | Sign In with Google+
              </button>
            </li>
          </ul>
      </div>
  </div>
</div>